<%- include("../common/head.ejs") -%>
<%- include("../user_common/user_header.ejs") -%>

<h3>Edit problem: <%= data.problem.title %> </h3>
<div class="row col-12 d-flex justify-content-center form-container mt-5">
    <div id="log" class="hidden">  
    </div>
    <div class="m-3">
        <div class="col-12 d-flex justify-content-center">
            <p>Title</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <input id="title" type="text" value="<%= data.problem.title %>">
        </div>
    </div>
    <div class="m-3">
        <div class="col-12 d-flex justify-content-center">
            <p>Description</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <textarea  id="description" cols="30" rows="10"><%= data.problem.description %></textarea>
        </div>
    </div>
    <div class="m-3">
        <div class="col-12 d-flex justify-content-center">
            <input type="button" id="login_button" onclick="edit_problem(this)" value="Submit">
        </div>
    </div>
</div>
<script src="/scripts/script.js"></script>
<script src="/scripts/problem.js"></script>
<%- include("../common/foot.ejs") -%>